@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0");


@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}


@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }
}
body {
    width: 100%;
    min-height: 100vh;
}

#chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    background: #838383;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

#chatbot-toggler span {
    position: absolute;
    color: #fff;
}

.show-chatbot #chatbot-toggler {
    transform: rotate(90deg);
}
#chatbot-toggler span:last-child,
.show-chatbot #chatbot-toggler span:first-child {
    opacity: 0;
}

.show-chatbot #chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot-popup {
    position: fixed;
    bottom: 90px;
    right: 35px;
    width: 420px;
    transform: scale(0.2);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1) ,
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
}

.show-chatbot .chatbot-popup {

    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.chatbot-popup .chat-header {
    display: flex;
    padding: 15px 22px;
    align-items: center;
    justify-content: space-between;
    background: #838383;
}

.chat-header .header-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-info svg {
    height: 35px;
    width: 35px;
    padding: 6px;
    flex-shrink: 0;
    fill: #838383;
    background: #fff;
    border-radius: 50%;
}

.header-info .logo-text {
    color: #fff;
    font-size: 1.31rem;
    font-weight: 600;
}

.chat-header button {
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    background: #838383;
    cursor: pointer;
    font-size: 1.9rem;
    padding-top: 2px;
    margin-right: -10px;
    color: #fff;
    transition: 0.2s ease;
}

.chat-header button:hover {
    background: #838383;
}

.chat-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 300px;
    margin-bottom: 82px;
    overflow-y: auto;
    flex-grow: 1;
    padding: 25px 22px;
    scrollbar-width: thin;
    scrollbar-color: #c6c6c6 transparent;
}

.chat-body .message {
    display: flex;
    gap: 11px;
    align-items: center;
}

.chat-body .bot-message svg {
    height: 35px;
    width: 35px;
    padding: 6px;
    flex-shrink: 0;
    fill: #fff;
    align-self: flex-end;
    margin-bottom: 2px;
    background: #838383;
    border-radius: 50%;
}

.chat-body .message .message-text {
    padding: 12px 16px;
    max-width: 75%;
    word-wrap: break-word;
    white-space: pre-line;
    font-size: 0.95rem;
}

.chat-body .bot-message .message-text {
    background: #f6f2ff;
    border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message {
    flex-direction: column;
    align-items: flex-end;
}

.chat-body .user-message .message-text {
    color: #fff;
    background: #838383;
    border-radius: 13px 13px 13px 3px;
}

.chat-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 15px 22px 20px;
}

.chat-footer .chat-form {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 32px;
    outline: 1px solid #cccce5;
}

.chat-footer .chat-form:focus-within {
    outline: 1px solid #838383;
}

.chat-form .message-input {
    border: none;
    outline: none;
    width: 100%;
    background: none;
    height: 47px;
    padding: 0 17px;
    font-size: 0.95rem;
}

.chat-form button {
    height: 35px;
    width: 35px;
    border: none;
    display: none;
    outline: none;
    cursor: pointer;
    font-size: 1.15rem;
    color: #fff;
    flex-shrink: 0;
    margin-right: 6px ;
    border-radius: 50%;
    background: #838383;
    transition: 0.2s ease;
}

.chat-form button:hover {
    background: #838383;
}

.chat-form .message-input:valid~button {
    display: block;
}